@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,600&family=Source+Sans+Pro:wght@600;700&display=swap');
html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
/* main-start */
header{
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: .2s linear;
}
.wrapper-header{
    max-width: 1170px;
    margin: 0 auto;
}
.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}
.active-wrapper{
    max-width: 1920px;
}
.header-active{
    top: 0;
    width: 100%;
    
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}

.fullMain{
    position: relative;
    height: 1080px;
    background: url(img/191704_droga_las_promienie_slonca-min_1920x1080.jpg) no-repeat;
    background-size: cover;
}
.fullMain:after{
    content:'';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24,46,110,.8);
    
}
.header-triple{
    top: 40px;
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    
    height: 120px;
    background-color: white;
    z-index: 2;
}
.header-triple-active{
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-around;
    height: 120px;
    background-color: white;
    z-index: 2;
}
h3{
    color:white;
}
.logo{
    padding-top: 15px;
}
.contacts{
    display:flex;
    text-align: center;
    
    height: 50px;
    background-color: #0E8AB1; 
}
.con{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-right: 20px;
}
.imgfix{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.number-contact{
    margin-right: 200px;
}

.contacts::before{
    /* position: absolute; */
    top: -1px;
    left: -2px;
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 0 0 50px;
    border-color: transparent transparent transparent #fff;
}
.header-list{
    display: flex;
    flex-wrap: wrap;
}
.header-item{
    margin-right: 52px;
}
.nav{
    padding: 27px 0 0 50px;
}
.header-item:last-child{
    margin-right:0 ;
}
.header-link{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.header-link:hover ,.header-link:focus,.header-link:active{
  color: #0E8AB1;
  
}

/* main-end */
/* slider-start* can-fixed 1920 */
.slider-section{
    padding-top: 200px;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}
.slider{
   
    border: 2px solid black;
    max-width: 100%;
    margin:  auto;
     overflow: hidden; 
}
.slider-line{
    display: flex;
    transition: all ease 1s;
}
.mcontainer{
    position:relative;
}
.buttons{
    position: absolute;
    left: 45%;
    top: 93%;
}
.button-slider{
    width: 35px;
    height: 35px;
    opacity: 60%;
    border-radius: 50%;
}
.slider-back{
    background: url(/img/arrowLeft.png);
}
.slider-next{
    background: url(/img/arrowRight.png);
}
/* slider-end*/
/* slogan-start */
.slogan{
    text-align: center;
    position: relative;
    z-index: 1;
}
.slogan1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    line-height: 44px;
    color: #fff;
    margin-bottom: 5px;
}
.slogan2{
    font-size: 28px;
    font-weight: 700;
    line-height: 49px;
    color: #fff;
}
/* slogan-start */
/* cars-start */
.wrapper-cars{
    max-width: 1430px;
    margin: 0 auto;
}
.bmws{
    width: 100%;
}
.bmw{
    position: relative;
}
.desc-bmw{
    position: absolute;
    top: 74%;
    left: 15%;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    line-height: 44px;
    color: black;

}
/* cars-end */
/* cards-start */
.grid-wrapper-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.card1{
    background-color: #00bcd4;
}
.card-desc{
    margin-left: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 27px;
}
.card-info{
    display: flex;
    padding: 130px 20px 130px 20px ;
}
.head-card-desc{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.card2{
    background-color: #ef5350;
}
.card3{
    background-color: #ff7043;
}
.card4{
    background-color: #9ccc65;
}
.theCard:hover .card-pic-img{
 opacity: 60%;
}
.theCard:hover .head-card-desc{
    text-decoration: underline rgb(190, 192, 224); 
}
/* cards-end */